* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 5px 0;
}

.board {
  max-width: 500px;
  max-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.buttons button {
  margin: 10px;
  width: 150px;
  height: 40px;
  background-color: lightblue;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
  border: 3px solid;
  transition: 1s;
}

.buttons button:hover {
  background-color: yellow;
}

.tile {
  margin: 0;
  padding: 3% 0;
  width: 11%;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  border: 1px solid black;
  outline: none;
  transition: 1s;
}

.tile:hover {
  background-color: yellow;
  cursor: pointer;
}

.tileinit {
  margin: 0;
  padding: 3% 0;
  width: 11%;
  background-color: yellow;
  color: #020C2E;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  border: 1px solid black;
}

.tileinit:disabled {
  background: lightgray;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input:nth-child(3n) {
  border-right: 3px solid black;
}

input:nth-child(9n + 1) {
  border-left: 3px solid black;
}

input:nth-child(n + 73) {
  border-bottom: 3px solid black;
}

input:nth-child(27n + 1),
input:nth-child(27n + 2),
input:nth-child(27n + 3),
input:nth-child(27n + 4),
input:nth-child(27n + 5),
input:nth-child(27n + 6),
input:nth-child(27n + 7),
input:nth-child(27n + 8),
input:nth-child(27n + 9) {
  border-top: 3px solid black;
}