* {
    box-sizing: border-box;    
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.tile {
    background-color: lightblue;
}

form {
    max-width: 500px;
    max-height: 500px;
}

input {
    color: blue;
    font-size: 24px;
    text-align: center;
    width: 11.11%;
    padding: 2.393% 0;
}

.board {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    padding: 10px 0 0 0;
}